<h1>Editar Laudo</h1>

<%= render 'form' %>

<%= link_to 'Detalhes', [@resquest_criminal,@report], class: 'ui tiny blue basic button' %> 
<%= link_to 'Voltar', reports_path, class: 'ui tiny blue basic button' %>
