<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon">
  
  <%= link_to root_path, class: "#{is_current_page?(dashboard_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>

  <%= link_to users_path, class: "#{is_current_page?(users_path)} item" do %>
  <i class="users icon"></i>
  	Usuários
  <% end %>

  <%= link_to auditor_index_path, class: "#{is_current_page?(users_path)} item" do %>
  <i class="spy icon"></i>
  	Auditoria
  <% end %>

  <%= link_to reports_path, class: "#{is_current_page?(users_path)} item" do %>
  <i class="edit icon"></i>
  	Relatório
  <% end %>  

</div>