<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon">
  <%= link_to root_path, class: "#{is_current_page?(dashboard_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>

  <%= link_to root_path, class: "#{is_current_page?(root_path)} item" do %>
  <i class="book icon"></i>
  Registro de Ocorrências
  <% end %>

  <%= link_to root_path, class: "#{is_current_page?(root_path)} item" do %>
  <i class="users icon"></i>
  Registro de Compartes
  <% end %>
  
  <%= link_to root_path, class: "#{is_current_page?('')} item" do %>
  <i class="marker icon"></i>
  Locais de incidência de crimes
  <% end %>
</div>