<!-- Footer -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Links</h4>
          <div class="ui inverted link list">
            <%= link_to 'Inicio', root_path, class: 'item' %>
            <%= link_to 'Sobre', about_path, class: 'item' %>
            <%= link_to 'Contato', contact_path, class: 'item' %>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Acesso ao sistema</h4>
          <div class="ui inverted link list">
            <%= link_to 'Entrar', new_user_session_path, class: 'item' %>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">UFPI - Universidade Federal do Piauí &copy; 2016</h4>
          <p>Dennis Sávio</p>
          <p>Josafá Martins - desenvolvedorjosafa@gmail.com</p>
          <p>Wesley Vieira - wesleyvieira12@gmail.com</p>
          <p>Rodrigo Carlos - rodrigo19962010@live.com</p>
        </div>
      </div>
    </div>
  </div>
</div>