// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.perfil {
    margin-top: 1.143em !important;
    width: 10.5em !important;
}

.show {
     margin-top: 1.143em !important;
}