
<div>

  <div>

    <br>

    <h3>Imagens</h3>

    <div class="column">

      <br>
      <br>

    </div>

      <br>
      <br>
      <p> <%= link_to("Voltar", reports_path)%> </p>
      <br>
      <table class="table">
        <tbody>
          <% count=0 %>
          <% images = ImageReport.all %>
          <% images.each do |image| %>
            <tr>
              <% if image.report_id == @report_int and count==0 %>
              	<%= render 'image' %>
              	<% count=count+1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
        
    </div>
  </div>
</div>