<h1>Editar Questão</h1>

<%= render 'form' %>

<%= link_to 'Detalhes',[@resquest_criminal, @question], class: 'ui button' %> 
<%= link_to 'Voltar', resquest_criminal_path(@resquest_criminal), class: 'ui button' %>
