<!-- Page Contents -->
<div class="pusher">

	<div class="ui vertical stripe segment">
		<div class="ui text container">

			<h3 class="ui header">Contatos</h3>
			<hr>
			<p>Josafá Martins - desenvolvedorjosafa@gmail.com</p>
			<p>Wesley Vieira - wesleyvieira12@gmail.com</p>
			<p>Rodrigo Carlos - rodrigo19962010@live.com</p>
		</div>
	</div>

</div>