<br>
<h1 class="ui header">Editando Usuário</h1>
<div class="ui form">
    <%= render 'form' %>
</div>
<%= link_to 'Detalhes', @user, class: 'ui button' %> 
<%= link_to 'Voltar', users_path, class: 'ui button' %>
