  <p>
	<div class="ui items">

	<div class="item">

    <% if @user.photo? %>    
      <div class="ui small image">
          <%= image_tag(@user.photo_url) %>
      </div>
    <% else %>
      <div class="ui small image">
        <img src="/Images/avatar.png">
      </div>
    <% end %>

    <div class="content">
      
      <div class="header">Name</div>
      
      <div class="meta">
        <span class="price">
        
	    		<strong>E-mail:</strong>
	    		<%= @user.email %>
	  		
	  	</span>
	  	<p>
        <span class="stay">
        	
			    <strong>Approved:</strong>
			    <%= @user.approved %>
	  		
        </span>
        </p>
      </div>

      <div class="description">
        <p></p>
      </div>
    </div>
  </div>



  </div>

	<%= link_to 'Back', users_path,  class: 'ui tiny blue basic button ' %>
  </p>